@import "tailwindcss";
@theme {
  --color-glass: rgba(255, 255, 255, 0.1);
  --color-glassBorder: rgba(255, 255, 255, 0.2);
  
  --image-dark-mesh: url('https://grainy-gradients.vercel.app/noise.svg'), 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);

  --animate-spin-slow: spin 10s linear infinite;
}

@layer base {
  :root {
    --foreground-rgb: 255, 255, 255;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: #0f0c29; 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    min-height: 100vh;
  }
}
@layer utilities {
  .glass-panel {
    @apply backdrop-blur-xl bg-white/10 border border-white/20 shadow-[0_8px_32px_0_rgba(31,38,135,0.37)] rounded-2xl;
  }

  .glass-btn {
    @apply backdrop-blur-md bg-white/5 border border-white/10 hover:bg-white/20 transition-all duration-300 ease-out active:scale-95 cursor-pointer;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}